$icon-font-path: '../fonts/';
$screen-lg:	1366px;
$grid-gutter-width: 6px;
$grid-columns: 24;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

input, button, form{
  outline: none;
 border: none !important;
 box-shadow: none !important;
}

#site-mock{
  position: relative;
  // background:url(../images/ym_home_16_chairs-02.png) top center no-repeat;
  // background-size: contain;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 2317px;
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 100%;
  min-height: 2317px;
  padding: 0;
}

#video-placement{
  padding: 0 $grid-gutter-width/2
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
.position-absolute{
  position: absolute;
}
.fill-parent{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.position-absolute--bottom{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
}
.demo-header{
  margin-bottom: $grid-gutter-width;
}
.fluid-image{
  width: 100%;
  height: auto;
}
.row-padding--bottom, .row-padded--bottom{
  [class^="col-"]{
    padding-bottom: $grid-gutter-width;
  }
}
[class^="col-"]{
  float: left;
  padding: 0 $grid-gutter-width/2;
}
.row-feature--16x9-video{
  @extend .row;
  display: flex;
  .col-primary{
    // width: 826px;
    flex: 1 1 826px;
    padding-bottom: 0;
  }
  .col-secondary{
    // width: auto;
    // display: flex;
    flex: auto;
    padding-bottom: 0;
  }
}

#videoModal{
  border: 0;
  .embed-container iframe{
    width: 100vw;
    height: 100vh;
    border: 0;
  }
  .close{
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: .35;
    color: white;
    font-size: 200%;
    z-index: 999;
    text-shadow: none;
    &:hover{
      opacity: 1;
    }
  }
}
.modal-backdrop.in{
  opacity: .9;
}
.modal-open #videoModal{
  overflow: hidden;
}

.blinking-cursor--container{
  display: block;
  position: absolute;
  left: 0;
  top: 9.5vw;
  width: 9.1vw;
  height: 2.4vw;
  box-sizing: content-box;
  border-right: .1vw solid #fff;
}
